[submodule ".config/kitty/kitty-kitten-search"]
	path = .config/kitty/kitty-kitten-search
	url = https://github.com/trygveaa/kitty-kitten-search
[submodule ".config/kitty/kitty_grab"]
	path = .config/kitty/kitty_grab
	url = https://github.com/yurikhan/kitty_grab.git
