[alias]
    a = add
    aa = add -A
    b = branch
    ba = branch -a
    c = commit -vm
    ck = checkout
    d = diff
    s = status
    cl = clone
    cld = clone --depth 1
    ud = reset HEAD~1
    p = push
    pl = pull

[user]
    email = mamartinitramam@163.com
    name = Martinits

[core]
    pager = delta

[include]
    path = /home/martinit/.config/delta/themes.gitconfig

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    light = false    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    #side-by-side = true
    line-numbers = true
    features = woolly-mammoth

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
# [core]
#     pager = diff-so-fancy | less --tabs=4 -RFX
# [interactive]
#     diffFilter = diff-so-fancy --patch
# [color]
#     ui = true
# [color "diff-highlight"]
#     oldNormal = red bold
#     oldHighlight = red bold 52
#     newNormal = green bold
#     newHighlight = green bold 22
# [color "diff"]
#     meta = 11
#     frag = magenta bold
#     func = 146 bold
#     commit = yellow bold
#     old = red bold
#     new = green bold
#     whitespace = red reverse
