[[mgr.prepend_keymap]]
on   = "l"
run  = "plugin smart-enter"
desc = "Enter the child directory, or open the hovered file"

[[mgr.prepend_keymap]]
on   = "<Right>"
run  = "plugin smart-enter"
desc = "Enter the child directory, or open the hovered file"

[[mgr.prepend_keymap]]
on   = "<Enter>"
run  = "plugin smart-enter"
desc = "Enter the child directory, or open the hovered file"

[[mgr.prepend_keymap]]
on   = "K"
run  = 'arrow -5'
desc = "Move up 5 lines"

[[mgr.prepend_keymap]]
on   = "J"
run  = 'arrow 5'
desc = "Move down 5 lines"

[[mgr.prepend_keymap]]
on   = "S"
run  = 'shell /bin/zsh --block'
desc = "Open interactive shell right here"

[[mgr.prepend_keymap]]
on = [ "<C-d>" ]
run = '''
        shell 'dragon-drop -a -x -T "$@"' --confirm
'''
desc = "Run Dragon-Drop on selected files"

[[mgr.prepend_keymap]]
on = [ "<Backspace>" ]
run = "hidden toggle"
desc = "Toggle whether showing hidden files"

[[mgr.prepend_keymap]]
on = [ "a" ]
run = "rename --hovered --cursor=before_ext"
desc = "Rename file basename appendingly"

[[mgr.prepend_keymap]]
on = [ "A" ]
run = "rename --hovered --cursor=end"
desc = "Rename file fullname appendingly"

[[mgr.prepend_keymap]]
on = [ "r" ]
run = "rename --hovered --empty=stem --cursor=start"
desc = "Rename file basename from scratch"

[[mgr.prepend_keymap]]
on = [ "R" ]
run = "rename --hovered --empty=all"
desc = "Rename file fullname from scratch"

[[mgr.prepend_keymap]]
on = [ "i" ]
run = "rename --hovered --cursor=start"
desc = "Rename file from start"

[[mgr.prepend_keymap]]
on = [ "b" ]
run = "rename"
desc = "Bulkrename selected files"

[[mgr.prepend_keymap]]
on = [ "d" ]
run = "yank --cut"
desc = "Cut selected files"

[[mgr.prepend_keymap]]
on = [ "t" ]
run = "remove"
desc = "Trash selected files"

[[mgr.prepend_keymap]]
on = [ "n" ]
run = "create"
desc = "Create new file"

[[mgr.prepend_keymap]]
on = [ "N" ]
run = "create --dir"
desc = "Create new directory"

[[mgr.prepend_keymap]]
on = [ "v" ]
run = "toggle_all"
desc = "Select all files"

[[mgr.prepend_keymap]]
on = [ "V" ]
run = "visual_mode"
desc = "Enter visual mode (selection mode)"

[[mgr.prepend_keymap]]
on = [ "u" ]
run = "toggle_all --state=off"
desc = "Deselect all files"

[[mgr.prepend_keymap]]
on = [ "m" ]
run = "plugin bookmarks save"
desc = "Save current position as a bookmark"

[[mgr.prepend_keymap]]
on = [ "'" ]
run = "plugin bookmarks jump"
desc = "Jump to a bookmark"

[[mgr.prepend_keymap]]
on = [ "o", "m" ]
run = [ "sort mtime --reverse=no", "linemode mtime" ]
desc = "Sort by modified time"

[[mgr.prepend_keymap]]
on = [ "o", "M" ]
run = [ "sort mtime --reverse", "linemode mtime" ]
desc = "Sort by modified time (reverse)"

[[mgr.prepend_keymap]]
on = [ "o", "b" ]
run = [ "sort btime --reverse=no", "linemode btime" ]
desc = "Sort by birth time"

[[mgr.prepend_keymap]]
on = [ "o", "B" ]
run = [ "sort btime --reverse", "linemode btime" ]
desc = "Sort by birth time (reverse)"

[[mgr.prepend_keymap]]
on = [ "o", "e" ]
run = "sort extension --reverse=no"
desc = "Sort by extension"
[[mgr.prepend_keymap]]
on = [ "o", "E" ]
run = "sort extension --reverse"
desc = "Sort by extension (reverse)"

[[mgr.prepend_keymap]]
on = [ "o", "a" ]
run = "sort alphabetical --reverse=no"
desc = "Sort alphabetically"

[[mgr.prepend_keymap]]
on = [ "o", "A" ]
run = "sort alphabetical --reverse"
desc = "Sort alphabetically (reverse)"

[[mgr.prepend_keymap]]
on = [ "o", "n" ]
run = "sort natural --reverse=no"
desc = "Sort naturally"

[[mgr.prepend_keymap]]
on = [ "o", "N" ]
run = "sort natural --reverse"
desc = "Sort naturally (reverse)"

[[mgr.prepend_keymap]]
on = [ "o", "s" ]
run = [ "sort size --reverse=no", "linemode size" ]
desc = "Sort by size"

[[mgr.prepend_keymap]]
on = [ "o", "S" ]
run = [ "sort size --reverse", "linemode size" ]
desc = "Sort by size (reverse)"

[[mgr.prepend_keymap]]
on = [ "o", "r" ]
run = "sort random --reverse=no"
desc = "Sort randomly"

[[mgr.prepend_keymap]]
on = "z"
run = "plugin zoxide"
desc = "Jump to a directory via zoxide"
